<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>

	<header th:fragment="header1">
		<!-- This is navbar -->
		<nav class="navbar navbar-expand-lg">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Smart Contact Manager</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase text-white">
						<li class="nav-item"><a class="nav-link active " aria-current="page">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="#">About</a></li>

						<li class="nav-item"><a class="nav-link " href="/user/index">Login</a>
						<li class="nav-item"><a class="nav-link " th:href="signup">SignUp</a>
						</li>
					</ul>

				</div>
			</div>
		</nav>
		<!-- end of navbar -->
	</header>

</body>

</html>