<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>

	<section class="banner d-flex justify-content-center align-items-center ">

		<div class="text-center">
			<h1>Smart Contact Manager</h1>
			<p>Start Collecting your contact in very smarter way. we provide
				very efficient and smarter way of handling contacts.</p>
			<button type="button" class="btn btn-success btn-lg">Get Started</button>
		</div>
	</section>

</body>

</html>